body {
    margin: 0px;
}

@font-face {
    font-family: "Main Condensed";
    src: url(./assets/fonts/Bahnschrift.ttf) format("truetype");
    font-stretch: 75%;
    font-weight: 400;
}

@font-face {
    font-family: "Main Condensed Bold";
    src: url(./assets/fonts/Bahnschrift.ttf) format("truetype");
    font-stretch: 75%;
    font-weight: 700;
}

@font-face {
    font-family: "Main Condensed Light";
    src: url(./assets/fonts/Bahnschrift.ttf) format("truetype");
    font-stretch: 75%;
    font-weight: 100;
}
